---
sources:
  sample_file:
    data_dir: /var/lib/vector/
    exclude:
      - /var/log/binary-file.log
    type: file
    read_from: beginning
    ignore_older_secs: 600
    include:
      - {{ vector_logs_path }}/*.log
sinks:
  to_clickhouse:
    type: clickhouse
    inputs:
      - sample_file
    endpoint: http://{{ hostvars['clickhouse-01'].ansible_default_ipv4.address }}:{{ clickhouse_port }}
    database: {{ clickhouse_db }}
    table: {{ table }}
    auth:
      strategy: basic
      password: {{ vector_password }}
      user: {{ vector_user  }}
    skip_unknown_fields: true
    compression: gzip